.info-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;

  &:last-child {
    margin-bottom: 20px;
  }

  &__name {
    color: #5dd97e;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-right: 20px;
  }

  &__details {
    font-size: 18px;
    color: #333;
    line-height: 25px;
    letter-spacing: 1px;
    text-align: center;
  }
}

@media all and (max-width: 985px) {
  .info-line {
    margin-left: 20px;
    padding: 10px 0;

  }
}